.description-container {
  position: relative;

  .fondo {
    width: 120vw;
    background-color: #83966023;
    height: 12rem;
    position: absolute;
    top: 21%;
    left: -36px;
    rotate: -12deg;
  }

  .contenido-container {
    position: relative;

    .contacto-text {

      margin-top: 30px;
      border-radius: 5px solid white;
    }
  }

}


.contacto-text,
.direccion,
.horario {
  font-family: "roboto";
}

.rowg-3 {
  width: 80vw;
  margin: 0 auto;
  position: relative;
  padding: 25px 0;
}

.formulario {
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1024px) {
  .formulario {
    img {
      height: auto;
    }
  }

}