.contacto-text {
  margin-top: 30px;
}

.contacto-text,
.direccion,
.horario {
  font-family: "roboto";
}

.rowg-3 {
  width: 80vw;
  margin: 0 auto;
  position: relative;
  padding: 25px 0;
}

.formulario {
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    left: 0;
    width: 100%;
  }
}